table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}

.mat-expansion-panel p span {
  font-weight: 600;
}

.mat-expansion-panel ul {
  list-style: none;
  display: inline-flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
}

.mat-expansion-panel ul li {
  cursor: pointer;
  color: red;
  text-decoration: underline;
  text-align: center;
}

table {
  border-collapse: collapse;
  text-align: left;
  text-transform: capitalize;
}

table thead tr th {
  padding: 8px;
  border-bottom: 2px solid #ddd;
  line-height: 1.5;
}

table tbody tr td {
  padding: 8px;
  line-height: 1.5;
}

table tbody tr:nth-child(even) {
  background: #e5e5e5;
}

.view-images {
  cursor: pointer;
color: red;
text-decoration: underline;
}


.modal {
  display: block;
  position: fixed;
  z-index: 12000;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.has-error {
  color: red;
  text-decoration: underline;
  cursor: pointer;
}
.show-data {
  color: brown;
  text-decoration: underline;
  cursor: pointer;
}
.status-failed {
  color: red;
}
.status-success {
  color: green;
}

::ng-deep .ui-table table {
  border-collapse: collapse;
  width: 100%;
  table-layout: unset;
}

:host ::ng-deep .ui-table .ui-table-thead > tr > th {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

@media screen and (max-width: 64em) {
  :host ::ng-deep .ui-table .ui-table-thead > tr > th {
      top: 0;
  }
}

.image-download {
  width: 550px;
  background: #f6f5f5;
  font-size: 14px;
  text-align: center;
  padding: 18px;
  box-shadow: 10px 10px 10px #ddd;
  margin: 5% auto;
}
.heading {
  padding: 10px;
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 1.5px;
}
.download-progress {
  padding: 10px;
}

p-progressspinner {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5% auto;
}
.spinner {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1000;
  background: rgba(254,254,254,0.7);
}

.submit-click {
  color: red;
  text-decoration: underline;
  cursor: pointer;
}